body {
    background-color: #788486;
}

#chatDiv {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10%);
}

#chatArea {
    background-color: #c2c9cb;
}

#inputText {
    width: 735px;
}

#sendText {
    width: 120px;
}

#userSelector, #messageSelector {
    width: 150px;
}