body {
    background-color: #788486;
}

#chatDiv {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10%);
}

#chatArea {
    background-color: #c2c9cb;
}

#inputText {
    width: 700px;
}

#sendText {
    width: 100px;
}

#updateText, #deleteMessage {
    margin-top: 5px;
    margin-right: 5px;
    width: 100px;
}

#userSelector, #messageSelector {
    width: 150px;
}