body {
    background-color: #3c3f41;
    font-family: Arial, Courier, monospace;
}
h1 {
    color: #93baa6;
    text-align: center;
}
.console {
    margin: auto;
    background-color: #2b2b2b;
    width: 40%;
    height: 40%;
}
.console #demo {
    color: #e8bf6a;
    font-size: large;
    margin: auto;
}