body {
    background-color: #3c3f41;
}
h1 {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    color: #a5c261
}
#jsonTable {
    margin: 10px auto 0px auto;
    border: 1px solid #2b2b2b;
    background-color: #d6d6d6;
    font-family: "Courier New", Courier, monospace;
    font-size: 0.9em;
    font-weight: bold;
    white-space: nowrap;
}

#jsonTable td {
    padding: 5px;
    border-bottom: 1px solid #2b2b2b;
}