
body{
    margin:                     0 auto;
}

div{
    padding:                    10px;
    border:                     1px solid #000;
}

div#container{
    background:                 #CCC;
    width:                      500px;
    margin-left:                200px;
    margin-top:                 50px;
}

div#resultContainer{
    margin-top:                 10px;
}

table.dices{
    border:                     1px solid #000;
}

table#dice input{
    width: 88px;
    height: 88px;
    text-align: center;
    font-size: 45px;
}

table#resultTable input{
    width: 50px;
}

td#button{
    padding-left: 239px;
}

td#throwCount{
    text-align: left;
}

button#btnRoll{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}