h1 {
    color: seagreen;
    text-align: center;
}
h2 {
    color: #FF3F44;
}
/*ol {*/
    /*background: url("../images/tri_tile.jpg") repeat;*/
/*}*/
li a {
    color: #ff501d;
    text-decoration: none;
}
li a:hover {
    color: #4e77a8;
    text-decoration: underline;
}